{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row mb-3">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 product-box my-2">
        <img src="{{product.imageURL}}" alt="" class="thumbnail" style="object-fit: cover;">
        <div class="box-element product">
            <h5><strong>{{product.name}}</strong></h5>
            {% comment %} <hr> {% endcomment %}
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">
                Add to Cart
            </button>

            <h4 style="display: inline; float: right;">{{product.price|floatformat:0}} &#3647;</h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}